@import 'reset';
@import 'variables';
@import 'general';
@import 'mixins';


header{
  background-color: $light-grey;
  height: $nav-height;
  width: 100vw;
  z-index: $z-nav;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    height: 80%;
  }
}

.thumb-wrap{
  margin-top: $nav-height;
  min-height: 150vh;

  width: 100vw;
  position: relative;
  overflow: hidden;
  img{
    will-change: transform;

    &:hover{
      z-index: $z-feed;
    }
  }
}

.reel-wrap{
  position: relative;
  width: 100vw;

  video{
    width: 100%;
  }
}

.collage-wrap{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px){

  .thumb-wrap{
    margin-top: $nav-height;
    min-height: 150vh;
    width: 100vw;
    height: auto!important;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10em 0;

    a{
      text-align: center;
    }

    img{
      width: 80%!important;
      position: relative!important;
      top: auto!important;
      left: auto!important;

      &:hover{
        z-index: $z-feed;
      }
    }
  }

}
